@page "/gooddeeds"
@inject HttpClient Http
@inject ISnackbar Snackbar

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <MudText Typo="Typo.h5" Class="mb-4 font-semibold">Good deeds from the community</MudText>

    <div @onscroll="OnScroll"
         style="height:75vh; overflow-y:auto;"
         class="no-scrollbar"
         @ref="_scrollDiv">

        @foreach (var deed in _goodDeedPosts)
        {
            <GoodDeedPost Title="@deed.Title"  Content="@deed.Description" Username="@deed.Username" UserId="@deed.UserId"/>
        }

        @if (_isLoading)
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Primary" Class="my-2" />
        }

        @if (_allLoaded)
        {
            <MudText Typo="Typo.caption" Align="Align.Center" Class="text-gray-500 my-2">
                🎉 No more entries
            </MudText>
        }
    </div>
</MudContainer>